body{
    background-color: white;
    padding:50px;
}

.endblock{
    
}

.block{
    display: inline-block;
}

.chord{
    white-space: pre;
    font-family:"Courier",monospace;
	font-size:1.1em;
	font-weight:600;
}

.pagebreak{
	page-break-before: always;
}

.words{
    white-space: pre;
    font-family: "Quattrocento Sans" ,sans-serif;
	font-size:1.1em;
	font-weight:500;
}

.lyricline{
    padding:5px;
    min-height:10px;
}

.section{
    font-family:"Helvetica", sans-serif;
    /* color:#777;*/
}

.artist{
    font-family:"Helvetica", sans-serif;
    font-style:italic;
    font-size:1.2em;
}

.title{
    font-family:"Helvetica", sans-serif;
    font-weight:700;
    font-size:1.3em;
}

.comment{
    font-family:"Quattrosans MS",monospace;
    font-size:1.0em;
}

