@page{
    margin-top:15mm;
    margin-left:15mm;
    margin-bottom:15mm;
    margin-right:15mm;
    width:210mm;
    height:297mm;
    @bottom-center{
        content: "Page " counter(page) " of " counter(pages);
    }
}


body{
    background-color: white;
}

.endblock{
    
}

.chord-section{
    width:100%;
    display:block;
    border-top-style:solid;
    border-top-width:0.25mm;
    border-bottom-style:solid;
    border-bottom-width:0.25mm;
    padding-top:3mm;
    padding-bottom:3mm;
}

.chord-image{
    width:19%;
    display:inline-block;
}

.chord-image img{
    width:100%;
}

.chord-name{
    width:100%;
    text-align:center;
    font-family:"Courier",monospace;
    font-size:1.1em;
}

.block{
    display: inline-block;
}

.chord{
    white-space: pre;
    font-family:"Courier",monospace;
    font-size:1.1em;
    font-weight:600;
}

.pagebreak{
    page-break-before: always;
}

.words{
    white-space: pre;
    font-family: "Quattrocento Sans" ,sans-serif;
    font-size:1.1em;
    font-weight:500;
}

.lyricline{
    padding:5px;
    min-height:10px;
}

.section{
    font-family:"Helvetica", sans-serif;
    text-align:right;
    width:100;
    /* color:#777;*/
}

.artist{
    font-family:"Helvetica", sans-serif;
    font-style:italic;
    font-size:1.2em;
}

.title{
    font-family:"Helvetica", sans-serif;
    font-weight:700;
    font-size:1.3em;
}

.comment{
    font-family:"Quattrosans MS",monospace;
    font-size:1.0em;
}

